 h1{
      color: chocolate; 
     text-shadow: cyan;
     text-align: center;
     text-decoration: underline;
 }
 .navbar navbar-expand-lg navbar-light bg-info{
 justify-content: space-between;
 text-align: center;
 }